@import "../../styles/variables";
@import "../../styles/mixins";

.NavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;

  a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;

    :hover {
      background-color: #111111;
    }
  }

  .RightNav {
    float: right;
  }

  @include desktop() {
    width: 100%;
    flex-direction: column;
  }
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 3%;
}
