$font-stack: Helvetica, sans-serif;
$primary-color: rgb(24, 230, 168);
$secondary-color: rgb(38, 0, 209);
$accent: #6d87a7;
$error: #811702;
$warning: #f9e055;
$valid: #038144;
$black: #000;
$white: #fff;

$background: rgb(179, 178, 247);
